<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items" href="/tabs/items">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="billing" href="/tabs/billing">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Billing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports" href="/tabs/reports">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bill-history" href="/tabs/bill-history">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>Bills</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
